HASH256_PRIVATE_KEY=replace_with_dedicated_mining_wallet_private_key
HASH256_RPC_URL=wss://ethereum-rpc.publicnode.com
HASH256_SUBMIT_RPC_URL=https://rpc.flashbots.net/fast
HASH256_BATCH_SIZE=10000000
HASH256_WORKERS=4
HASH256_BOOST_WORKERS=0
HASH256_WORKER_PROGRESS_EVERY=100000
HASH256_POLL_INTERVAL_MS=2000
HASH256_SPEEDUP_INTERVAL_MS=3000
HASH256_WAIT_RECEIPT=0
HASH256_EPOCH_WATCH_INTERVAL_MS=4000
HASH256_MAX_PENDING_SUBMISSIONS=1
HASH256_KEEP_MINING=1
HASH256_ONCE=0
HASH256_GAS_LIMIT=250000
HASH256_GAS_BUFFER_PERCENTAGE=25
HASH256_MAX_PRIORITY_FEE_GWEI=2
HASH256_MAX_FEE_MULTIPLIER=2
HASH256_MAX_TX_COST_USD=5
MAX_GAS_BUDGET_USD=5
PRIORITY_BOOST_PERCENTAGE=20
HASH256_ETH_USD_PRICE=
